<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>NYT Mongo Scraper</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/app.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>